body {
    font: 16px/1.5 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0px auto;
    width: 95%;
    background-color: #fafad5;
}
code {
    font-family: "Courier New", Courier, monospace;
    color: #228b22;
    background-color: #d3d3d3;
}
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}
table {
    width: 100%;
}
td {
    margin: 0;
    border: none;
    padding: 0;
}
.app-desc {
    width: 67%;
}
.app-name {
    width: 33%;
}
.odd {
    background-color: #d3d3d3;
}
